{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Profile Page</h2>
<div>

    <div class="form_class">
        <div class="info_div">
            <p>my profile</p>
        </div>
        <form class="form_div">
            <div class="group_container">
                <label for="username">Username:</label>
                <input id="username" class="field_class" name="username" type="text" readonly value="{{ account['username'] }}">
                <label for="username">Email:</label>
                <input id="username" class="field_class" name="username" type="text" readonly value="{{ account['email'] }}">
                <label for="username">Phone:</label>
                <input id="username" class="field_class" name="username" type="text" readonly value="{{ account['phone'] }}">
                <label for="twt_user">Twitter username:</label>
                <input id="twt_user" class="field_class" name="twitter_user_txt" type="text" readonly value="{{ account['twitter_username'] }}">
            </div>
        </form>
    </div>
</div>
{% endblock %}



