{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

<div>

    <div class="form_class">
        <div class="info_div">
            <p>my profile</p>
        </div>
            <form id="profile_edit" action="{{ url_for('update') }}" method="POST" class="form_div" >
                <div class="group_container">
                    <label for="phone">Phone:</label>
                    <input id="phone" class="field_class" name="phone" type="text" value="{{ account['phone'] }}" required>
                    <label for="twitter_user_txt">Twitter username:</label>
                    <input id="twitter_user_txt" class="field_class" name="twitter_user_txt" type="text"  value="{{ account['twitter_username'] }}" required>
                </div>
                <div class="msg">{{ msg }}</div>
                <button class="edit_button" type="submit" form="profile_edit">update</button>
        </form>
            <button class="back_button" id="back_button">back</button>
            <script>
                document.getElementById("back_button").onclick = function () {
                    location.href = "{{ url_for('profile') }}";
    
                };
            </script>
    </div>
</div>
{% endblock %}



